* {
    font-family: 'montserrat' ,serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: white;
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.header {
    background-color: #F59132;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    height: 70px;
}

.header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.header h1 {
    color: white;
    font-size: 24px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
}

.login-box h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
}

.login-box label {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    display: block;
    margin-bottom: 10px;
}

.login-box input {
    width: 400px;
    padding: 15px;
    margin-bottom: 30px;
    border: 2px solid #000;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.login-box button {
    width: 400px;
    padding: 15px;
    background-color: #F59132;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.login-box button:hover {
    background-color: #e68217;
}

footer{
    background-color: #F59132;
    margin-top: 197px;
    height: 392px;
    width: 100%;
}
.logo-container{
    display: flex;
    font-family: 'montserrat' ,serif;
    align-items: center;
    margin-left: 91px;
}
.logo-container span{
    color: white;
    font-size: 65px;
    margin-left: 22px;
    margin-top: 20px;
}
.footer-links{
    font-family: 'montserrat' ,serif;
    font-size: 32px;
    list-style-type: none;
    margin-top: 40px;
    margin-left: 140px;
}
.footer-links a{
    text-decoration: none;
    color: white;
}
.footer-links li{
    margin-top: 33px;
}
.button-container{
    margin-top: 20px;
    margin-left: 140px;
}
.footer-button{
    display: flex;
    align-items: center;
    border-radius: 20px;
    width: 172px;
    height: 58px;
    background-color: white;
    border: none;
    font-family: 'montserrat',serif;
    font-size: 24px;
    margin-top: 45px;
}
.footer-button a{
    text-decoration: none;
    color: black;
}
.footer-button img{
    width: 32px;
    height: 40px;
    margin-left: 11px;
}
.footer-button strong{
    margin-left: 12px;
}